{% extends "layout/default_layout.twig" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ assets }}css/home.css">    
{% endblock %}

{% block body %}

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <div class="cover-heading">Fiuler</div>
            <p class="text-cover">En Fiuler tenemos tus series y películas favoritas para que las disfrutes totalmente gratis</p>
            <p class="lead">
              <a href="homepage" class="btn btn-lg btn-default">Ir a la Cartelera</a> 
            </p>
          </div>
        </div>

      </div>

    </div>
{% endblock %}