<div id="right-bar">
	<a class="right-settings btn-capituloclose" href="#close">&times;</a>
		<div class="right-logo">
			<div class="right-text">{{ capitulo.nom_capitulo }}</div>
		</div>
</div>

<iframe src="{{ repcapitulo.url }}" class="video-capitulo" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true" scrolling="no"></iframe>